@font-face {
    font-family: Lexend-Thin;
    src: url(../fonts/lexend/Lexend-Thin.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Lexend-Light;
    src: url(../fonts/lexend/Lexend-Light.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Lexend-ExtraLight;
    src: url(../fonts/lexend/Lexend-ExtraLight.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Lexend-Regular;
    src: url(../fonts/lexend/Lexend-Regular.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Lexend-Medium;
    src: url(../fonts/lexend/Lexend-Medium.ttf);
    font-weight: normal;
}
@font-face {
    font-family: Lexend-SemiBold;
    src: url(../fonts/lexend/Lexend-SemiBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Lexend-Bold;
    src: url(../fonts/lexend/Lexend-Bold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Lexend-ExtraBold;
    src: url(../fonts/lexend/Lexend-ExtraBold.ttf);
    font-weight: bold;
}
@font-face {
    font-family: Lexend-Black;
    src: url(../fonts/lexend/Lexend-Black.ttf);
    font-weight: bold;
}