:root {
    /* 
        # COLORS
    */

    /* PRIMARY */
    --color-primary: hsla(333, 68%, 44%, 1);
    --color-primary_shade: hsla(333, 100%, 26%, 1);
    --color-primary_tint: hsla(333, 100%, 87%, 1);
    --color-primary_tintest: hsla(333, 100%, 94%, 1);

    /* SECUNDARY */
    --color-secundary: hsla(189, 76%, 26%, 1);
    --color-secundary_shade: hsla(189, 89%, 18%, 1);
    --color-secundary_tint: hsla(189, 70%, 74%, 1);
    --color-secundary_tintest: hsla(189, 92%, 85%, 1);

    /* TERTIARY */
    --color-tertiary: hsla(262, 59%, 47%, 1);
    --color-tertiary_shade: hsla(262, 74%, 39%, 1);
    --color-tertiary_tint: hsla(262, 100%, 90%, 1);
    --color-tertiary_tintest: hsla(261, 100%, 95%, 1);

    /* FEEDBACK */
    --color-feedback_success-white: hsla(149, 90%, 24%, 1);
    --color-feedback_success-dark: hsla(154, 43%, 77%, 1);
    --color-feedback_error-white: hsla(352, 72%, 44%, 1);
    --color-feedback_error-dark: hsla(0, 100%, 88%, 1);
    --color-feedback_warning-white: hsla(33, 100%, 41%, 1);
    --color-feedback_warning-dark: hsla(40, 100%, 84%, 1);
    --color-feedback_information-white: hsla(208, 100%, 38%, 1);
    --color-feedback_information-dark: hsla(216, 92%, 85%, 1);

    /* NEUTRAL */
    --color-neutral_0: hsla(0, 0%, 0%, 1);
    --color-neutral_10: hsla(0, 0%, 10%, 1);
    --color-neutral_15: hsla(0, 0%, 15%, 1);
    --color-neutral_20: hsla(0, 0%, 20%, 1);
    --color-neutral_25: hsla(0, 0%, 25%, 1);
    --color-neutral_30: hsla(0, 0%, 30%, 1);
    --color-neutral_35: hsla(0, 0%, 35%, 1);
    --color-neutral_40: hsla(0, 0%, 40%, 1);
    --color-neutral_45: hsla(0, 0%, 45%, 1);
    --color-neutral_50: hsla(0, 0%, 50%, 1);
    --color-neutral_55: hsla(0, 0%, 55%, 1);
    --color-neutral_60: hsla(0, 0%, 60%, 1);
    --color-neutral_65: hsla(0, 0%, 65%, 1);
    --color-neutral_70: hsla(0, 0%, 70%, 1);
    --color-neutral_75: hsla(0, 0%, 75%, 1);
    --color-neutral_80: hsla(0, 0%, 80%, 1);
    --color-neutral_90: hsla(0, 0%, 90%, 1);
    --color-neutral_95: hsla(0, 0%, 95%, 1);
    --color-neutral_98: hsla(0, 0%, 98%, 1);
    --color-neutral_99: hsla(0, 0%, 99%, 1);
    --color-neutral_100: hsla(0, 0%, 100%, 1);
    
    /* 
        # FONTS
    */

    /* FONT FAMILY RESET */
    --font-family_lexend-thin: Lexend-Thin;
    --font-family_lexend-light: Lexend-Light;
    --font-family_lexend-extra-light: Lexend-ExtraLight;
    --font-family_lexend-regular: Lexend-Regular;
    --font-family_lexend-medium: Lexend-Medium;
    --font-family_lexend-semi-bold: Lexend-SemiBold;
    --font-family_lexend-bold: Lexend-Bold;
    --font-family_lexend-extra-bold: Lexend-ExtraBold;
    --font-family_lexend-black: Lexend-Black;

    /* TYPE DISPLAY */
    --display-font_family: Lexend-Black;
    --display-font_size: 2.75rem;
    --display-font_weight: bold;
    --display-line_height: 3.25rem;

    /* TYPE H1 */
    --h1-font_family: Lexend-Bold;
    --h1_font_size: 2.25rem;
    --h1_font_weight: bold;
    --h1-line_height: 2.75rem;

    /* TYPE H2 */
    --h2-font_family: Lexend-Bold;
    --h2-font_size: 1.75rem;
    --h2-font_weight: bold;
    --h2-line_height: 2rem;

    /* TYPE H3 */
    --h3-font_family: Lexend-Bold;
    --h3-font_size: 1.5rem;
    --h3-font_weight: bold;
    --h3-line_height: 1.75rem;

    /* TYPE P */
    --p-font_family: Lexend-Regular;
    --p-font_size: 0.875rem;
    --p-font_weight: normal;
    --p-line_height: 1rem;

    /* 
        # ELEMENTS
    */

    /* 
        ## BUTTON DEFAULT
        ### Class -> .bt 
    */
    --button-background_color: hsla(0, 0%, 90%, 1);
    --button-boder: none;
    --button-border_radius: 16px;
    --button-color: hsla(0, 0%, 0%, 1);
    --button-cursor: pointer;
    --button-font_family: Lexend-Regular;
    --button-font_size: 1rem;
    --button-font_weight: normal;
    --button-gap: 12px;
    --button-line_height: 1rem;
    --button-padding: 12px 16px;
    --button-pointer_events: auto;
}