:root {
    /* 
        # COLORS
    */

    /* PRIMARY */
    --color-primary:;
    --color-primary_shade:;
    --color-primary_tint:;
    --color-primary_tintest:;

    /* SECUNDARY */
    --color-secundary:;
    --color-secundary_shade:;
    --color-secundary_tint:;
    --color-secundary_tintest:;

    /* TERTIARY */
    --color-tertiary:;
    --color-tertiary_shade:;
    --color-tertiary_tint:;
    --color-tertiary_tintest:;

    /* FEEDBACK */
    --color-feedback_success-white:;
    --color-feedback_success-dark:;
    --color-feedback_error-white:;
    --color-feedback_error-dark:;
    --color-feedback_warning-white:;
    --color-feedback_warning-dark:;
    --color-feedback_information-white:;
    --color-feedback_information-dark:;

    /* NEUTRAL */
    --color-neutral_0:;
    --color-neutral_10:;
    --color-neutral_15:;
    --color-neutral_20:;
    --color-neutral_25:;
    --color-neutral_30:;
    --color-neutral_35:;
    --color-neutral_40:;
    --color-neutral_45;;
    --color-neutral_50:;
    --color-neutral_55:;
    --color-neutral_60:;
    --color-neutral_65:;
    --color-neutral_70:;
    --color-neutral_75:;
    --color-neutral_80:;
    --color-neutral_90:;
    --color-neutral_95:;
    --color-neutral_98:;
    --color-neutral_99:;
    --color-neutral_100:;
    
    /* 
        # FONTS
    */

    /* TYPE DISPLAY */
    --font-type-display_family:;
    --font-type-display_line-height:;
    --font-type-display_size:;
    --font-type-display_weight:;

    /* TYPE H1 */
    --font-type-h1_family:;
    --font-type-h1_line-height:;
    --font-type-h1_size:;
    --font-type-h1_weight:;

    /* TYPE H2 */
    --font-type-h2_family:;
    --font-type-h2_line-height:;
    --font-type-h2_size:;
    --font-type-h2_weight:;

    /* TYPE H3 */
    --font-type-h3_family:;
    --font-type-h3_line-height:;
    --font-type-h3_size:;
    --font-type-h3_weight:;

    /* TYPE P */
    --font-type-p_family:;
    --font-type-p_line-height:;
    --font-type-p_size:;
    --font-type-p_weight:;

    /* TYPE BUTTON */
    --font-type-button_family:;
    --font-type-button_line-height:;
    --font-type-button_size:;
    --font-type-button_weight:;

    /* 
        # ELEMENTS
    */

    --element-spacing:;
    --element-border_radius:;
    --element-boder_width:;
}